* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*----------Fonts----------*/
  --font-heading: 'Changa One', cursive;
  --font-heading-2: 'Chango', cursive;
  --font-primary: 'Poppins', sans-serif;

  /*----------Colors----------*/
  --black-primary: #282c34;
  --white-primary: #ffffff;
  --blue-primary: #0000ff;
}

body {
  background: linear-gradient(83deg, #0e00d2, #4f4dc8);
  background-size: 400% 400%;

  -webkit-animation: color="var(--blue-primary)" 20s ease infinite;
  animation: color="var(--blue-primary)" 20s ease infinite;
  color: var(--white-primary);
  font-family: var(--font-primary);
}


/*----------Navbar----------*/
.topNavbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(28, 73, 179, 0.512);
  border: 1px solid #d1d5db4d;
  box-shadow: 3px 3px 5px #0000001f;
}



/*----------Card----------*/
.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  height: 400px;
  width: 300px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

































/*----------Footer----------*/
.footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  margin-top: auto;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(28, 73, 179, 0.512);
  border: 1px solid #d1d5db4d;
  box-shadow: 3px 3px 5px #0000001f;
}





/*----------Media Queries----------*/

/*---Background Animation---*/
@-webkit-keyframes blue {
  0% {
    background-position: 0% 51%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 51%
  }
}

@keyframes blue {
  0% {
    background-position: 0% 51%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 51%
  }
}





.App {
  text-align: center;
}
